.kpi-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.kpi-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #f8f9fa; /* Fondo del área de los KPI */
  padding: 10px; /* Añade padding si es necesario */
}

.kpi-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.kpi-card {
  /* Estilos base de las tarjetas de KPI */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  background-color: #f0f0f0;
  cursor: pointer; /* Cursor de manito al pasar por encima */
  transition: background-color 0.3s ease;
}

.kpi-card:hover {
  background-color: #e0e0e0; /* Color de fondo al pasar el cursor */
}

.kpi-card img {
  width: 50px; /* Ancho de las imágenes de los KPIs */
  height: 50px; /* Altura de las imágenes de los KPIs */
}

.kpi-title {
  font-size: 14px; /* Tamaño de fuente del título del KPI */
  margin-top: 5px;
}

.kpi-value {
  font-size: 18px; /* Tamaño de fuente del valor del KPI */
  font-weight: bold;
}

.kpi-selector {
  /* Estilos específicos para el selector de KPIs */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.kpi {
  /* Estilos de cada KPI individual */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  cursor: pointer; /* Cursor de manito al pasar por encima */
}

.kpi img {
  width: 50px; /* Ancho de las imágenes de los KPIs */
  height: 50px; /* Altura de las imágenes de los KPIs */
}

.kpi p {
  font-size: 14px; /* Tamaño de fuente del título del KPI */
  margin-top: 5px;
}

/* Estilos específicos para tarjetas de KPIs de estados recibidos */
.kpi-card.pendientes {
  background-color: #ffcccb; /* Color de fondo para estado pendiente */
}

.kpi-card.aprobados {
  background-color: #cdebad; /* Color de fondo para estado aprobado */
}

.kpi-card.rechazados {
  background-color: #ffd966; /* Color de fondo para estado rechazado */
}

.kpi-card.revision {
  background-color: #d1ecf1; /* Color de fondo para estado en revisión */
}