.btn-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
}

.btn {
  flex: 1;
  margin: 0 4px;
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f8f9fa;
  color: #007bff;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn.active {
  background-color: #007bff;
  color: #fff;
}

.btn:hover {
  background-color: #e9ecef;
}

.kpi-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.kpi-section {
  display: flex;
  flex-direction: column;
}

.kpi-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.kpi-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  width: calc(50% - 16px); // Ajusta el tamaño de las tarjetas
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.kpi-card img {
  max-width: 24px;
  margin-right: 12px;
}

.kpi-info {
  display: flex;
  flex-direction: column;
}

.kpi-title {
  font-weight: bold;
}

.kpi-value {
  font-size: 1.1rem;
  color: #333;
}

.kpi-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
