<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de Pedidos</title>
    <link rel="stylesheet" href="https://adminlte.io/themes/v3/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="./jefatura.component.scss">

</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="bienvenida">
        ¡Bienvenido al Sistema!
    </div>
    <div class="wrapper">
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a class="brand-link">
                <img src="https://adminlte.io/themes/v3/dist/img/AdminLTELogo.png" alt="AdminLTE Logo"
                    class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Dashboard</span>
            </a>
            
            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="info">
                        <i class="nav-icon fas fa-users"></i>
                        <a class="d-block">{{ razon_social }}</a>
                        <p>Departamento: {{ nombreDepartamento }}</p>
                        <p>Fecha: {{ fechaActual }}</p>
                        <p>{{ usuario.nombre_usuario }}</p>
                    </div>
                </div>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link" (click)="cerrarSesion()">
                        <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
                      </a>
                    </li>
                  </ul>
            </div>
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <section class="content">
                <div class="container-fluid">
                    <!-- Sección de filtros y botones -->
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Opciones</h3>
                                </div>
                                <div class="card-body">
                                    <div class="btn-group" role="group">
                                        <button *ngIf="codRolUsuario === 4" class="btn btn-outline-primary" [ngClass]="{'active': mostrarMisSolicitudes}" (click)="mostrarMisSolicitudesClick()">
                                            Solicitudes
                                        </button>
                                        <button class="btn btn-outline-primary" (click)="mostrarCategoriasProductos = !mostrarCategoriasProductos">
                                            Categorías y Productos
                                        </button>
                                        <button class="btn btn-outline-primary" (click)="mostrarResumen = !mostrarResumen">
                                            Resumen
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <!-- Sección de KPIs para solicitudes recibidas -->
                    <div *ngIf="mostrarMisSolicitudes && codRolUsuario === 4" class="row">
                        <div class="col-md-12">
                            <app-indicator-card [codRolUsuario]="codRolUsuario" [misPedidos]="misPedidos"
                                [mostrarMisSolicitudes]="true" (kpiSeleccionado)="filtrarPedidosPorKPI($event)">
                            </app-indicator-card>
                        </div>
                    </div>

                    <!-- Sección de Pedidos Recibidos -->
                    <div *ngIf="mostrarSolicitudesRecibidas && codRolUsuario === 4" class="row">
                        <div class="col-md-12">
                            <app-indicator-card [codRolUsuario]="codRolUsuario" [misPedidos]="PedidosRecibidos"
                                [mostrarSolicitudesRecibidas]="true" (kpiSeleccionado)="filtrarPedidosPorKPI($event)">
                            </app-indicator-card>
                        </div>
                    </div>

                    <!-- Sección de categorías y productos -->
                    <div *ngIf="mostrarCategoriasProductos" class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Categorías</h3>
                                </div>
                                <div class="card-body">
                                    <nav>
                                        <div *ngFor="let categoria of categoriasProductos">
                                            <a [ngClass]="{'categoria-activa': categoria.id_categoria_productos == categoriaActiva}"
                                                (click)="verProductos(categoria.id_categoria_productos)"
                                                class="link-button">
                                                <span class="codigo">{{ categoria.id_categoria_productos }}</span> -
                                                {{ categoria.nombre_categoria }}
                                                <span *ngIf="hayProductosSeleccionados(categoria.id_categoria_productos)"
                                                    class="check-mark">&#10004;</span>
                                            </a>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Productos</h3>
                                </div>
                                <div class="card-body">
                                    <div *ngFor="let producto of productosPorCategoria" class="producto-item">
                                        <div class="producto-info">
                                            <span>{{ producto.nombre_producto }}</span>
                                        </div>
                                        <div class="producto-controls">
                                            <button (click)="agregarProducto(producto)" class="cantidad-button">+</button>
                                            <input type="number" [(ngModel)]="producto.cantidad" class="cantidad-input"
                                                [value]="producto.cantidad" (input)="actualizarSeleccion(producto)"
                                                min="0">
                                            <button (click)="quitarProducto(producto)" class="cantidad-button">-</button>
                                            <button (click)="eliminarCantidadSeleccionada(producto)"
                                                class="eliminar-button">Eliminar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Resumen de productos seleccionados -->
                    <div *ngIf="mostrarResumen" class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Resumen Productos Seleccionados</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th>Cantidad</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let producto of productosSeleccionados">
                                                <td>{{ producto.nombre_producto }}</td>
                                                <td>{{ producto.cantidad }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="resumen-btn">
                                        <button class="btn btn-success" (click)="confirmarPedido()">Confirmar Pedido</button>
                                        <button class="btn btn-secondary" (click)="volver()">Volver</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Botones de navegación -->
                    <div *ngIf="mostrarCategoriasProductos" class="row">
                        <div class="col-12 text-center">
                            <button *ngIf="productosSeleccionados && productosPorCategoria.length > 0"
                                [disabled]="productosPorCategoria.length === 0" (click)="generarPedido()"
                                class="btn btn-primary">
                                Generar Pedido
                            </button>
                        </div>
                    </div>

                    <div *ngIf="mostrarPedidos" class="row">
                        <!-- Columna izquierda: Tabla de Pedidos -->
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Pedidos</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered table-hover" *ngIf="mostrarTablaPedidos">
                                        <thead>
                                            <tr>
                                                <th>Pedido ID</th>
                                                <th>Fecha de emisión</th>
                                                <th>Estado de seguimiento</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let pedido of misPedidos"
                                                [ngClass]="{'categoria-activa': pedidoSeleccionado?.id_orden_pedido_cabecera === pedido.id_orden_pedido_cabecera}">
                                                <td>{{ pedido.id_orden_pedido_cabecera }}</td>
                                                <td>{{ pedido.fecha_emision }}</td>
                                                <td>
                                                    <span [pTooltip]="obtenerToolTip(pedido.estado_seguimiento)">
                                                        {{ obtenerToolTip(pedido.estado_seguimiento) }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <button class="btn btn-primary btn-sm" (click)="toggleDetallePedido(pedido)">
                                                        {{ pedidoSeleccionado &&
                                                        pedidoSeleccionado.id_orden_pedido_cabecera ===
                                                        pedido.id_orden_pedido_cabecera ? 'Ocultar Detalles' : 'Mostrar Detalles' }}
                                                    </button>
                                                    <button *ngIf="pedido.estado_seguimiento === 'PENR'"
                                                        class="btn btn-success btn-sm ml-2" (click)="revisarPedido($event, pedido)">
                                                        Revisar
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    
                        <!-- Columna derecha: Detalles del Pedido -->
                        <div class="col-lg-6" *ngIf="pedidoSeleccionado">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Detalles del Pedido</h3>
                                </div>
                                <div class="card-body">
                                    <div *ngFor="let detalle of pedidoSeleccionado.detalles" class="detalle-pedido">
                                        <div class="detalle-pedido-vista">
                                            <p [style.textDecoration]="detalleEnListaEliminar(detalle) ? 'line-through' : 'none'">
                                                Producto: {{ detalle.producto?.nombre_producto }}
                                            </p>
                                            <p *ngIf="!editandoDetalle">Cantidad solicitada: {{ detalle.cantidad_solicitada }}</p>
                                            <p *ngIf="editandoDetalle">
                                                Cantidad solicitada:
                                                <input *ngIf="editandoDetalle" [disabled]="detalleEnListaEliminar(detalle)" type="number"
                                                    [(ngModel)]="detalle.cantidad_solicitada">
                                            </p>
                                            <p>Cantidad comprada: {{ detalle.cantidad_comprada }}</p>
                                            <p>Cantidad recepcionada: {{ detalle.cantidad_recepcionada }}</p>
                                        </div>
                                        <div class="detalle-pedido-icons">
                                            <i [ngClass]="{'btn-trash-icon-disabled': !eliminarHabilitado || pedidoSeleccionado.estado_seguimiento !== 'PENR',
                                                      'trash-presionado': detalleEnListaEliminar(detalle)}" class="fas fa-trash"
                                                (click)="habilitarEliminar(detalle);"></i>
                                            <i [ngClass]="{'btn-trash-icon-disabled': pedidoSeleccionado.estado_seguimiento !== 'PENR'}"
                                                class="fas fa-pencil-alt"
                                                (click)="habilitarEdicion(pedidoSeleccionado.estado_seguimiento, pedidoSeleccionado.detalles)">
                                            </i>
                                        </div>
                                    </div>
                                    <div>
                                        <p>Observaciones:</p>
                                        <textarea class="text-area" [(ngModel)]="pedidoSeleccionado.observaciones_jefe_area"
                                            [disabled]="true"></textarea>
                                    </div>
                                    <div>
                                        <button [disabled]="pedidoSeleccionado.estado_seguimiento !== 'PENR'" class="btn btn-danger"
                                            (click)="cancelar()">Cancelar</button>
                                        <button [disabled]="pedidoSeleccionado.estado_seguimiento !== 'PENR' || !eliminarHabilitado"
                                            class="btn btn-primary" (click)="actualizarPedido(pedidoSeleccionado)">Actualizar Pedido
                                        </button>
                                        <button [disabled]="pedidoSeleccionado.estado_seguimiento !== 'PENR'" class="btn btn-warning"
                                            (click)="anularPedido(pedidoSeleccionado.id_orden_pedido_cabecera)">Anular Pedido</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                      
                      
                      
                    <!-- Templates adicionales -->
                    <ng-template #noCategoriaSeleccionada>
                        <h1 class="no-categoria-seleccionada text-center">Seleccione una categoría</h1>
                    </ng-template>

                    <ng-template #sinSolicitudes>
                        <h1 class="no-categoria-seleccionada text-center">No hay solicitudes creadas</h1>
                    </ng-template>
                </div>
            </section>
        </div>
    </div>
    <script src="https://adminlte.io/themes/v3/plugins/jquery/jquery.min.js"></script>
    <script src="https://adminlte.io/themes/v3/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://adminlte.io/themes/v3/dist/js/adminlte.min.js"></script>
</body>
<app-pantalla-carga *ngIf="mostrarCarga"></app-pantalla-carga>

</html>
